@import "~bootstrap/scss/bootstrap";

body {
  background-color: #0f0f0f;

  font-family: "Montserrat", sans-serif;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: #878787;
}

// GLOBAL STYLES

h4 {
  margin-bottom: 26px;

  color: #00ff01;

  font-size: 23.2px;
  font-weight: 700;
  text-transform: uppercase;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  p {
    color: #818181;

    font-size: 1rem;
  }
}

.g-btn {
  width: 150px;
  height: 42px;
  border-radius: 50px;
  border: none;

  color: #0f0f0f;
  background: #00ff01;

  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;

  transition: 0.5s ease;

  &:hover {
    border: 1px solid #00ff01;

    background-color: transparent;
    color: #00ff01;
  }
}

.navi-bar {
  padding: 8px 0;

  .navbar-brand {
    img {
      width: 160px;
    }
  }

  .menus {
    display: flex;
    align-items: center;
  }

  .dropdown-toggle {
    &::after {
      display: none;
    }
  }

  .nav-link,
  .dropdown-item {
    color: #818181;

    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;

    &:hover,
    &:active {
      color: #00ff01;
    }
  }

  .dropdown-menu {
    background-color: #000;

    .dropdown-item {
      margin: 0 15px;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .col:nth-child(2) {
    justify-content: space-evenly;
    display: flex;

    .sub-menu2 {
      transform: translate3d(180px, -7px, 0px);

      justify-content: space-around;
      position: absolute;
      inset: 0px auto auto 0px;
    }

    .g-btn {
      margin-right: 52px;
    }
  }

  .sub-navi {
    display: none;
  }
}

.hero {
  position: relative;

  background-image: url(../src/assets/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .info {
    h1 {
      color: #fff;

      font-size: clamp(1.5rem, -0.0913rem + 2.4719vw, 2.875rem);
      font-weight: 700;
    }

    p {
      margin: 20px 0;
      max-width: 600px;

      color: #818181;

      font-size: 16px;
    }

    .logo {
      margin-top: 13px;
      width: 91px;
    }
  }

  .razer-svg {
    position: absolute;
    width: 272px;
    right: 345px;
    bottom: 10px;
  }
}

.features {
  .main-wrap {
    border-bottom: 1px solid #444;

    .items {
      padding-left: 38px;

      h6 {
        color: #fff;

        font-weight: 700;
        font-size: 15px;
        letter-spacing: 1px;
      }

      p {
        color: #818181;

        font-size: 12px;
      }

      img {
        margin: 12px 0;
        width: 40px;
      }
    }
  }
}

.products {
  height: 30vh;
}

.modal-lg {
  img {
    border-radius: 5px;
    width: 100%;
  }

  .modal-content {
    position: relative;

    width: 100%;

    background-color: transparent;

    i {
      position: absolute;
      top: 5px;
      right: 7px;

      color: red;

      font-size: 40px;
    }
  }
}

.thx {
  background: url(./assets/razer-nari-usp02-desktop-wireless-gaming-headset.jpg);
  background-position: center center;
  background-size: cover;

  div {
    h4 {
      color: #00ff01;

      font-weight: 700;
    }

    p {
      color: #ddd;

      font-size: 1.2rem;
    }
  }
}

.others {
  .row {
    .other-cards {
      transition: 0.5s ease;
      align-items: center;
      justify-content: center;

      &:hover {
        transform: scale(1.05);
      }

      .gadgets {
        position: relative;

        background-color: #000;

        height: 273px;

        .g-items {
          height: 100%;
          width: 100%;
        }

        .logo {
          position: absolute;
          right: 16px;
          bottom: 15px;
        }
      }

      .desc {
        border-bottom: 3px solid #00ff01;
        margin-bottom: 2rem;
        height: 129px;
        padding: 20px 12px 0px 12px;
        background-color: #161515;

        h6 {
          color: #fff;

          font-weight: 700;
          text-transform: uppercase;
        }

        p {
          color: #818181;

          font-size: 12px;
          margin-bottom: 6px;
        }

        .learn {
          color: #00ff01;

          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 12px;

          cursor: pointer;
        }
      }
    }
  }

  .g-btn {
    display: none;
  }
}

.contact {
  background-color: #000;

  .row {
    justify-content: center;
    padding: 0 1px;

    .con-header {
      h4 {
        color: #00ff01;

        font-weight: 700;
        text-transform: uppercase;
      }
    }

    .valid {
      color: red;
    }

    form {
      display: flex;
      flex-direction: column;

      .name_ph {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .name,
        .phone {
          width: 48%;
        }
      }

      input,
      textarea {
        border: 1px solid #fff;
        border-radius: 5px;
        width: 100%;
        padding: 9px;
        margin-bottom: 14px;

        color: #fff;
        background-color: transparent;

        &::placeholder {
          font-size: 12px;
          font-weight: 500;

          align-items: flex-start;
          justify-content: center;
        }
      }
    }

    .contact-info {
      display: flex;
      flex-direction: column;

      .con-header {
        text-align: left;
      }

      .con-info {
        .info {
          h6 {
            color: white;

            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase;
          }

          a,
          p {
            max-width: 130px;

            color: #818181;

            font-size: 12px;
            text-decoration: none;
          }

          .click {
            cursor: pointer;
            &:hover {
              color: #00ff01;
            }
          }

          a:hover {
            color: #00ff01;
          }
        }
      }
    }
  }
}

.footer {
  align-items: center;
  justify-content: center;

  .row:nth-child(1) {
    border-bottom: 2px solid #818181;

    .col-lg-6 {
      display: flex;
      text-align: center;

      p {
        margin: 0 18px;

        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;

        cursor: pointer;

        &:hover {
          color: #00ff01;
        }
      }
    }

    .logos {
      display: flex;
      justify-content: flex-end;

      img {
        width: 14px;
        margin-right: 1rem;
      }
    }
  }

  .row:nth-child(2) {
    margin-top: 5px;
    padding: 10px;

    text-align: center;
    font-weight: 700;
    color: #818181;

    h6 {
      font-size: 11px;
    }
  }
}

// MOBILE NAVBAR OVERLAY
.overlay {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;

  height: 100%;
  width: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;

  a {
    display: block;
    transition: 0.3s;
    padding: 8px;

    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #818181;

    cursor: pointer;

    &:hover,
    &:focus {
      color: #00ff01;
    }
  }

  .overlay-content {
    position: relative;
    top: 200px;
    width: 100%;

    text-align: center;
    margin-top: 30px;
  }

  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;

    font-size: 60px;
  }
}

// RESPONSIVENESS

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    top: 15px;
    right: 35px;

    font-size: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    margin-top: 25px;

    h4 {
      padding: 0 25px;

      font-size: clamp(1.625rem, 1.4464rem + 0.8929vw, 1.875rem);
    }

    P {
      padding: 10px;

      font-size: clamp(0.875rem, 0.7857rem + 0.4464vw, 1rem);
    }
  }

  .g-btn {
    margin: 16px auto;
    width: 150px;
  }

  .nvbr {
    background-color: #000;

    .no-show {
      display: none;
    }
  }

  .navi-bar {
    padding: 13px 25px;
  }

  .hero {
    background: url(./assets/razer-nari-hero-desktop-wireless-gaming-headset.jpg),
      linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: 35% 70%;
    padding: 10px;

    .info {
      h1 {
        font-size: clamp(2.25rem, 2.0714rem + 0.8929vw, 2.5rem);
      }

      p {
        color: #fff;

        font-size: clamp(0.75rem, 0.6607rem + 0.4464vw, 0.875rem);
      }

      .logo {
        width: 50px;
      }
    }

    .col:nth-child(2) {
      display: none;
    }
  }

  .products {
    margin-bottom: 68px;
  }

  .thx {
    padding: 0 22px;

    .info {
      margin: 25px 0;

      p {
        font-size: clamp(0.875rem, 0.7857rem + 0.4464vw, 1rem);
      }

      img {
        display: none;
      }
    }
  }

  .others {
    .other-cards {
      margin: 0;

      .gadgets {
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;

        .logo {
          right: 10px;
        }

        .swiper-slide img {
          height: auto;
        }
      }
    }

    .g-btn {
      display: block;
    }
  }

  .contact {
    padding: 0;

    .con-header {
      text-align: center;
      margin: 3rem 0;
    }

    form {
      input,
      textarea {
        width: 100%;
        margin: 5px 0;
      }
    }

    .contact-info {
      align-items: center;
      margin-bottom: 50px;

      .con-info {
        padding: 0 3rem;
      }
    }
  }

  .footer {
    .row:nth-child(1) {
      padding-bottom: 0;
      margin: 20px 0 12px;

      .col-lg-6 {
        display: flex;
        flex-direction: column;
        text-align: start;

        p {
          margin: 0;
        }
      }

      .logos {
        text-align: start;
        justify-content: flex-start;
      }
    }

    .row:nth-child(2) {
      text-align: start;

      h6 {
        font-size: clamp(0.8125rem, 0.7679rem + 0.2232vw, 0.875rem);
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .navi-bar {
    .col:nth-child(2) {
      display: none;
    }

    .sub-navi {
      display: block;

      text-align: right;

      i {
        width: 30px;

        color: #818181;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .padders {
    padding: 50px 0;
  }

  .hero {
    .col:nth-child(2) {
      display: none;
    }
  }

  .products {
    height: 50vh;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 45px;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    p {
      width: 700px;
      line-height: 29px;
    }
  }

  .perfect {
    padding: 0 117px;
  }

  .navi-bar {
    .navbar-brand {
      padding-left: 115px;
    }
  }

  .hero {
    padding: 8.5rem 0 5rem 0;

    .nfo {
      padding-right: 43px;
    }
  }

  .features {
    padding: 76px 1px 57px 1px;

    .main-wrap {
      margin: 0 120px;
      padding-bottom: 30px;

      .items {
        margin: 29px 0 16px 0;
      }
    }
  }

  .products {
    margin-bottom: 147px;

    .header {
      margin-bottom: 41px;
    }
  }

  .thx {
    padding: 72px 0 113px 204px;

    .content {
      max-width: 400px;

      line-height: 30px;
    }

    h4 {
      margin-top: 32px;
      margin-bottom: 15px;
    }

    img {
      width: 139px;
      margin-top: 11px;
    }
  }

  .others {
    .header {
      margin: 74px 0 26px 0;
    }

    .row {
      padding: 0 86px;
    }
  }

  .contact {
    padding: 137px 0 60px 0;

    .col-md-7 {
      .con-header {
        padding: 0 110px 0 166px;
      }
    }

    button {
      margin: 9px 0 0px 1px;
      height: 40px;
      width: 149px;
    }

    .contact-info {
      padding-right: 93px;
      align-items: center;

      .con-header {
        margin-right: 22px;
      }

      .info {
        margin: 13px 85px 38px 0;
      }
    }
  }

  .footer {
    .row:nth-child(1) {
      padding: 36px 67px 31px 102px;

      .col:nth-child(1) {
        img {
          width: 164px;
        }
      }
    }
  }
}
