@import "~bootstrap/scss/bootstrap";

body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background-color: #0f0f0f;
  overflow-x: hidden;
}

a {
  color: #878787;
}

// GLOBAL STYLES

.perfect {
  padding: 0 6%;
}

.header {
  /* Text */
  text-align: center;

  /* Display & Box Model */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h4 {
    /* Text */
    font-size: 23.2px;
    font-weight: 700;

    text-transform: uppercase;

    /* Display & Box Model */
    margin-bottom: 26px;

    /* Color */
    color: #00ff01;
  }

  p {
    width: 51%;
    color: #818181;
    font-size: 1rem;
  }
}

.g-btn {
  /* Display & Box Model */
  width: 150px;
  height: 42px;
  border-radius: 50px;
  border: none;

  /* Text */
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;

  /* Others */
  transition: 0.5s ease;

  /* Color */
  color: #0f0f0f;
  background: #00ff01;

  &:hover {
    background-color: transparent;
    border: 1px solid #00ff01;
    color: #00ff01;
  }
}

.navi-bar {
  padding: 0.5rem 0;

  .navbar-brand {
    img {
      width: 160px;
    }
  }

  .menus {
    /* Positioning */
    display: flex;
    align-items: center;
  }

  .dropdown-toggle {
    &::after {
      display: none;
    }
  }

  .nav-link,
  .dropdown-item {
    /* Text */
    font-weight: 800;
    font-size: 0.75rem;
    text-transform: uppercase;

    /* Color */
    color: #818181;
    &:hover,
    &:active {
      color: #00ff01;
    }
  }

  .dropdown-menu {
    background-color: #000;

    .dropdown-item {
      margin: 0 15px;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .col:nth-child(2) {
    /* Display & Box Model */
    justify-content: space-evenly;
    display: flex;

    .sub-menu2 {
      /* Display & Box Model */
      justify-content: space-around;
      position: absolute;
      inset: 0px auto auto 0px;

      /* Positioning */
      transform: translate3d(180px, -7px, 0px);
    }

    .g-btn {
      margin-right: 6.5%;
    }
  }

  .sub-navi {
    display: none;
  }
}

.hero {
  /* Background */
  background-image: url(../src/assets/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Positioning */
  position: relative;

  .info {
    h1 {
      font-size: clamp(1.5rem, -0.0913rem + 2.4719vw, 2.875rem);
      color: #fff;
      font-weight: 700;
    }

    p {
      font-size: 1rem;
      color: #818181;
      margin: 20px 0;
    }

    .logo {
      margin-top: 2%;
      width: 16%;
    }
  }

  .razer-svg {
    /* Positioning */
    position: absolute;
    width: 14%;
    right: 345px;
    bottom: 16px;
  }
}

.features {
  .main-wrap {
    border-bottom: 1px solid #444;

    .items {
      padding-left: 38px;

      h6 {
        /* Text */
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 1px;

        /* Color */
        color: #fff;
      }

      p {
        color: #818181;
        font-size: 12px;
      }

      img {
        margin: 3% 0;
        width: 40px;
      }
    }
  }
}

.products {
  height: 30vh;
}

.modal-lg {
  img {
    border-radius: 5px;
    width: 100%;
  }

  .modal-content {
    position: relative;
    background-color: transparent;
    width: 100%;

    i {
      /* Positioning */
      position: absolute;
      top: 5px;
      right: 7px;

      /* Text */
      font-size: 40px;

      /* Color */
      color: red;
    }
  }
}

.thx {
  /* Background */
  background: url(./assets/razer-nari-usp02-desktop-wireless-gaming-headset.jpg);
  background-position: center center;
  background-size: cover;

  div {
    h4 {
      color: #00ff01;
      font-weight: 700;
    }

    p {
      color: #ddd;
      font-size: 1.2rem;
    }
  }
}

.others {
  .row {
    .other-cards {
      transition: 0.5s ease;
      align-items: center;
      justify-content: center;

      &:hover {
        transform: scale(1.05);
      }

      .gadgets {
        background-color: #000;
        position: relative;
        height: 292px;

        .g-items {
          height: 100%;
          width: 100%;
        }

        .logo {
          position: absolute;
          right: 16px;
          bottom: 36px;
        }
      }

      .desc {
        background-color: #161515;

        /* Display & Box Model */
        border-bottom: 3px solid #00ff01;
        margin-bottom: 2rem;
        height: 109px;
        padding: 0 12px;

        h6 {
          color: #fff;
          font-weight: 700;
          text-transform: uppercase;
        }

        p {
          color: #818181;
          font-size: 12px;
          margin-bottom: 6px;
        }

        .learn {
          /* Text */
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 12px;

          /* Color */
          color: #00ff01;

          /* Others*/
          cursor: pointer;
        }
      }
    }
  }

  .g-btn {
    display: none;
  }
}

.contact {
  background-color: #000;

  .row {
    justify-content: center;
    padding: 0 1px;

    .con-header {
      h4 {
        color: #00ff01;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    .valid {
      color: red;
    }

    form {
      display: flex;
      flex-direction: column;

      .name_ph {
        display: flex;
        justify-content: space-between;
        width: 100%;

        #name,
        #phone {
          width: 48%;
        }
      }

      input,
      textarea {
        background-color: transparent;

        /* Display & Box Model */
        border: 1px solid #fff;
        border-radius: 5px;
        width: 100%;
        padding: 9px;
        margin: 16px 0 0 0;

        /* Color */
        color: #fff;

        &::placeholder {
          /* Text */
          font-size: 12px;
          font-weight: 500;

          /* Display & Box Model */
          align-items: flex-start;
          justify-content: center;
        }
      }
    }

    .contact-info {
      display: flex;
      flex-direction: column;

      .con-header {
        text-align: left;
      }

      .con-info {
        .info {
          h6 {
            font-size: 12px;
            text-transform: uppercase;
            color: white;
            font-weight: 700;
          }

          a,
          p {
            color: #818181;
            font-size: 12px;
            text-decoration: none;

            max-width: 130px;
          }

          .click {
            cursor: pointer;
            &:hover {
              color: #00ff01;
            }
          }

          a:hover {
            color: #00ff01;
          }
        }
      }
    }
  }
}

.footer {
  align-items: center;
  justify-content: center;

  .row:nth-child(1) {
    border-bottom: 2px solid #818181;

    .col-lg-6 {
      display: flex;
      text-align: center;

      p {
        /* Text */
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;

        margin: 0 18px;
        cursor: pointer;

        &:hover {
          color: #00ff01;
        }
      }
    }

    .logos {
      display: flex;
      justify-content: flex-end;

      p {
        cursor: pointer;
      }

      img {
        width: 14px;
        margin-right: 1rem;
      }
    }
  }

  .row:nth-child(2) {
    margin-top: 5px;
    padding: 10px;

    /* Text */
    text-align: center;
    font-weight: 700;
    color: #818181;

    h6 {
      font-size: 11px;
    }
  }
}

// MOBILE NAVBAR OVERLAY

/* The Overlay (background) */
.overlay {
  /* Positioning */
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;

  /* Display & Box Model */
  height: 100%;
  width: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;

  p {
    /* Color */
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #818181;

    /* Display & Box Model */
    display: block;
    transition: 0.3s;
    padding: 8px;

    /* Other */
    cursor: pointer;

    &:hover,
    &:focus {
      color: #00ff01;
    }
  }

  .overlay-content {
    /* Positioning */
    position: relative;
    top: 25%;
    width: 100%;

    /* Text */
    text-align: center;
    margin-top: 30px;
  }

  .closebtn {
    /* Positioning */
    position: absolute;
    top: 20px;
    right: 45px;

    /* Text */
    font-size: 60px;
  }
}

// RESPONSIVENESS

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    /* Positioning */
    top: 15px;
    right: 35px;

    /* Text */
    font-size: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    margin-top: 10%;

    h4 {
      padding: 0 10%;
      font-size: clamp(1.625rem, 1.4464rem + 0.8929vw, 1.875rem);
    }

    P {
      font-size: clamp(0.875rem, 0.7857rem + 0.4464vw, 1rem);
      width: 90%;
    }
  }

  .g-btn {
    margin: 1rem auto;
    width: 150px;
  }

  .nvbr {
    background-color: #000;

    .no-show {
      display: none;
    }
  }

  .navi-bar {
    padding: 13px 25px;
  }

  .hero {
    /* Background */
    background: url(./assets/razer-nari-hero-desktop-wireless-gaming-headset.jpg),
      linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: 35% 70%;
    padding: 5%;

    .info {
      h1 {
        font-size: clamp(2.25rem, 2.0714rem + 0.8929vw, 2.5rem);
      }

      p {
        color: #fff;
        font-size: clamp(0.75rem, 0.6607rem + 0.4464vw, 0.875rem);
      }

      .logo {
        width: 15%;
      }
    }

    .col:nth-child(2) {
      display: none;
    }
  }

  .products {
    margin-bottom: 30%;
  }

  .thx {
    background-position: 40% 50%;
    padding: 0 5%;

    .info {
      margin: 10% 0;
      p {
        font-size: clamp(0.875rem, 0.7857rem + 0.4464vw, 1rem);
      }

      img {
        display: none;
      }
    }
  }

  .others {
    .other-cards {
      margin: 0;

      .gadgets {
        /* Positioning */
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;

        .logo {
          right: 10px;
        }

        .swiper-slide img {
          height: auto;
        }
      }
    }

    .g-btn {
      display: block;
    }
  }

  .contact {
    padding: 0;

    .con-header {
      text-align: center;
      margin: 3rem 0;
    }
    form {
      input,
      textarea {
        width: 100%;
        margin: 5px 0;
      }
    }

    .contact-info {
      align-items: center;
      margin-bottom: 50px;

      .con-info {
        padding: 0 3rem;
      }
    }
  }

  .footer {
    .row:nth-child(1) {
      padding-bottom: 0;
      margin: 20px 0 12px;

      .col-lg-6 {
        /* Positioning */
        display: flex;
        flex-direction: column;
        text-align: start;

        p {
          margin: 0;
        }
      }

      .logos {
        text-align: start;
        justify-content: flex-start;
      }
    }

    .row:nth-child(2) {
      text-align: start;

      h6 {
        font-size: clamp(0.8125rem, 0.7679rem + 0.2232vw, 0.875rem);
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .navi-bar {
    .col:nth-child(2) {
      display: none;
    }

    .sub-navi {
      display: block;
      text-align: right;

      i {
        width: 30px;
        color: #818181;
      }

      .mobile-menu {
        /* Positioning */
        display: flex;
        flex-direction: column;
        position: relative;
        top: 25%;
        width: 100%;

        /* Text */
        text-align: center;

        /* Display & Box Model */
        margin-top: 30px;

        a {
          /* Text */
          text-transform: uppercase;
          text-decoration: none;
          font-weight: 700;
          text-decoration: none;

          /* Display & Box Model */
          padding: 8px;
          display: block;
          transition: 0.3s;

          /* Color */
          color: #818181;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .padders {
    padding: 50px 0;
  }

  .hero {
    .col:nth-child(2) {
      display: none;
    }
  }

  .products {
    height: 50vh;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 45px;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    p {
      line-height: 29px;
    }
  }

  .navi-bar {
    .navbar-brand {
      padding-left: 21%;
    }
  }

  .hero {
    padding: 8.5rem 0 5rem 0;

    .nfo {
      padding-right: 43px;
    }
  }

  .features {
    padding: 5rem 0 3.5rem 0;

    .main-wrap {
      margin: 0 120px;
      padding-bottom: 30px;

      .items {
        margin: 29px 0 16px 0;
      }
    }
  }

  .products {
    margin-bottom: 9rem;

    .header {
      margin-bottom: 17px;
    }
  }

  .thx {
    padding: 72px 0 113px 204px;

    .content {
      max-width: 400px;
      line-height: 30px;
    }

    h4 {
      margin-top: 32px;
      margin-bottom: 15px;
    }

    img {
      width: 35%;
      margin-top: 11px;
    }
  }

  .others {
    .header {
      margin: 74px 0 26px 0;
    }

    .row {
      padding: 0 86px;
    }
  }

  .contact {
    padding: 137px 0 60px 0;

    .col-md-7 {
      .con-header {
        padding: 0 110px 0 166px;
      }
    }

    button {
      margin: 23px 0 0px 1px;
      height: 40px;
      width: 149px;
    }

    .contact-info {
      padding-right: 93px;
      align-items: center;

      .con-header {
        margin-right: 22px;
      }

      .info {
        margin: 30px 85px 38px 0;
      }
    }
  }

  .footer {
    .row:nth-child(1) {
      padding: 31px 67px 31px 102px;

      .col:nth-child(1) {
        img {
          width: 164px;
        }
      }
    }
  }
}
